html {
  width:  100%;
  height: 100%;
  margin: 0;
}
body {
	background-color:#FAF9F6
	font-family: "Neue Montreal";
	font-weight: 600;
	font-size: 14px;
	width:  100%;
	height: 100%;
	margin: 0;
}
a {
	color: black;
	font-weight: bolder;
	text-decoration: none;
}
a:hover {
	color: black;
	text-decoration: underline;
}
img {
  width: 100%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
#canvas {
    border: 2px solid black;
	position: absolute;
	background-color:#FAF9F6;
	top: 5px;
	left: 5px;
	z-index: -1;
}
#page_title {
	font-size: 48px;
	font-weight: bold;
	padding-top: 20px;
	padding-left: 20px;
	line-height: 50px;
}
#page_subtitle {
	font-size: 18px;
	padding-top: 0;
	padding-left: 30px;
	line-height: 20px;
}
#page_menu {
	padding-top: 10px;
	padding-left: 40px;
}
#navbar_title {
	font-size: 28px;
}
#navbar_subtitle {
	font-size: 18px;
}
#navbar_btn{
	background-image: url('menu.svg');
	background-repeat: no-repeat;
	width: 3rem;
	height: 3rem;
}
#info_section {
	display: block;
}
#projects_section {
	display: none;
}
#resume_section {
	display: none;
}
#contact_section {
	display: none;
}
#credits_section {
	position: absolute;
	bottom:3%;
    left:1%;
	padding-right: 5%;
	display: block;
}
#github_img {
	width: 5%;
}
#ut_logo_img{
	padding-left: 10px;
	width: 20%;
}
#linkedin_badge {
	padding-top: 10px;
}
#mobile_navbar{
	display: none;
	z-index: 2;
}
#navbar_menu{
	z-index:2;
	position: absolute;
}
#navbar_subtitle{
	right: 0px;
}
#old_updates_btn{
	position: absolute;
	padding-top: 20px;
	padding-left: 50px;
}
#thesis_nav_btn{
	position: absolute;
	padding-left: 50px;
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
.thesis_post_title {
	font-size: 30px;
	padding-bottom: 5px;
}
.thesis_post_date {
	font-size: 25px;
	padding-bottom: 20px;
}
.thesis_post_text {
	font-size: 16px;
}
.project_title {
	font-size: 30px;
	padding-bottom: 20px;
}
.section_text {
	position: absolute;
	top: 20%;
	left: 20%;
	width: 70%;
	height: 70%;
	font-size: 16px;
	overflow-y: auto
}
.btn{
	font-weight: 600;
	--bs-btn-border-width: 0px;  
}
.btn:hover {
	font-weight: bolder;
}
.btn:focus {
	font-weight: bolder;
}
.btn:active {
	outline: none !important;
}
.canvas-container{
	position: relative;
	height: 100%;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (max-width: 880px) {
	#page_menu {
		display: none;
	}
	#mobile_navbar{
		display: block;
	}
	#credits_section {
		left:15px;
	}
	#page_title {
		display: none;
	}
	#page_subtitle {
		display: none;
	}
	.section_text{
		top: 20%;
		left: 10%;
		width: 80%;
		height: 65%;
	}
	.dropdown-item{
		font-size: 16px;
	}
}
@media (max-width: 400px) {
	#navbar_subtitle{
		font-size: 16px;
	}
	#credits_text {
		font-size: 12px;
	}
}